<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>LastName</th>
    </tr>
    <tr>
      <td th:text="${userToShow.getId()}"></td>
      <td th:text="${userToShow.getName()}"></td>
      <td th:text="${userToShow.getLastName()}"></td>
    </tr>
  </table>

</div>
<hr/>
<a th:href="@{/users/{id}/update(id=${userToShow.getId()})}">Update User</a>
<hr/>
<a href="/users">All Users</a>
</body>
</html>