<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}/update(id=${userToShow.getId()})}" th:object="${userToShow}">

  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="lastName">Enter lastName: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>
<hr/>
<form th:method="DELETE" th:action="@{/users/{id}/delete(id=${userToShow.getId()})}" th:object="${userToShow}">
  <input type="submit" value="Delete!">
</form>
<hr/>
<a href="/users">All users</a>

</body>
</html>